@model MeritoHealth.Models.Paciente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSanguineo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSanguineo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlergia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlergia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CondicoesCronicas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CondicoesCronicas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContatoEmergencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContatoEmergencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtCadastro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPaciente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
